<!doctype html>
<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/2.3.0/mustache.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="static/css/default.css">

    <script>
        g_py_name = '{{py_name}}';
    </script>
</head>
<body>
    <div id="main_content_box" class="s_content">
    </div>
    <div class="s_navbar">
        <div class="col-xs-2">
            <div class="s_navbtn"><a href="#">Test</a></div>
        </div>
        <div class="col-xs-2">
            <div class="s_navbtn"><a href="#">Test</a></div>
        </div>
        <div class="col-xs-4">
            <div class="s_navbtn"><a href="#">Test</a></div>
        </div>
        <div class="col-xs-2">
            <div class="s_navbtn"><a href="#">Test</a></div>
        </div>
        <div class="col-xs-2">
            <div class="s_navbtn"><a href="#">Test</a></div>
        </div>
    </div>
    <script src="static/js/main.js"></script>
</body>
</html>