<!doctype html>
<html>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<script src="https://www.gstatic.com/firebasejs/4.3.1/firebase.js"></script>
<script src="https://www.gstatic.com/firebasejs/4.3.0/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/4.3.0/firebase-auth.js"></script>
<script src="https://www.gstatic.com/firebasejs/4.3.0/firebase-database.js"></script>

<script language="javascript" type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.5.11/p5.min.js"></script>
<script language="javascript" type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.5.11/addons/p5.dom.min.js"></script>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400" rel="stylesheet">
<link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
<link rel="stylesheet" href="static/css/default.css">
<style>
body { overflow: hidden; color: white;}
.s_container { text-align: center }
.s_container > section { padding: 1em; }
.s_container > section { margin: 3em 0; }
.s_canvas { z-index: -1; }
h1 { font-size: 6em; }
</style>
</head>
<body>
<div class="s_container">
    <section>
        <h1>Slapp</h1>
        <subtitle>Sleeping tracked</subtitle>
    </section>
    <section>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </section>
    <secton>
        <a class="btn btn-primary"><big>Sign up now</big></a>
        <a href="/muchen" class="btn btn-default"><big>Login</big></a>
    </secton>
</div>
<script>
function Star() {
    this.position = createVector(random(0, width),
                                 random(0, height));
    this.radius = random(0.5, 2);
    this.opacityMin = random(50, 150);
    this.opacityMax = random(150, 255);
    this.omega = random(0.003, 0.1);
    this.theta = random(0, TWO_PI);
}
Star.prototype.draw = function() {
    var d = this.radius * 2;
    var o = (Math.sin(this.omega * frameCount + this.theta) + 1) / 2 * 255;
    fill(255, o);
    ellipse(this.position.x, this.position.y, d, d);
};


var stars = []
var moon;

function preload() {
    moon = loadImage('static/img/moon.png')
}

function setup() {
    canvas = createCanvas(windowWidth, windowHeight);
    canvas.class("s_canvas");
    canvas.position(0, 0);
    noStroke();

    for (var i = 0; i < 100; i++) {
        stars.push(new Star());
    }
}

var moonInterval = 2000;
function draw() {
    background(0, 32, 64);

    // draw stars
    for (var i = 0, j = stars.length; i < j; i++) {
        stars[i].draw();
    }

    // draw the moon
    var stepTime = frameCount % moonInterval;
    image(moon, 
          map(stepTime, 0, moonInterval, width + 80, -80), 
          map(sin(stepTime * PI / moonInterval), 0, 1, 100, 50),
          80, 80);
}

function windowResized() {
    resizeCanvas(windowWidth, windowHeight);
}
</script>
</body>
</html>