body {
	padding-top: 50px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
}
h1, h2, h3, h4, h5 {
	font-weight: 300;
}
.navbar-inverse {
	background-color: #235;
	border-bottom: 1px solid #456;
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
	background-color: #123;
}
.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
	background-color: #123;
}
.s_navbar {
	width: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 0.8rem 0.5rem;
	background-color: #EEE;
}
.s_navbar > div {
	padding: 0;
}
.s_navbtn {
	display: inline-block;
	text-align: center;
	min-height: 4em;
	width: 100%;
	background: #FFF;
	border-left: 1px solid #EEE;
	border-right: 1px solid #EEE;
	transition: all 0.2s ease;
}
.s_navbtn:hover {
	background: #CCC;
}

.s_navbtn:active {
	background: #AAA;
}
.s_navbtn > a {
	position: relative;
	text-decoration: none;
	color: inherit;
	top: 2em;
}
.s_content {
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	background: #024;
}
.s_page-home {
	width: 100%;
	padding: 3em 0;
	text-align: center;
}
.s_page-home > h1 {
	color: white;
	font-size: 5em;
}
.s_page-home > h2 {
	color: white;
}